.text {
  font-size: 100px;
  color: white;
}

.footer-text {
  font-size: 30px;
  color: white;
}

.godmode {
  width: 15%;
}

.nav-menu {
  justify-content: flex-start;
}

.navbar-main {
  width: 100%;
}

.myfont {
  font-family: "Luckiest Guy", cursive;
}

.order-number {
  font-size: 50px;
  color: white;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 0;
}

.logo {
  height: 50vh;
}

.main-section {
  min-height: 100vh;
}

.header-link {
  width: 200px;
}

.header-link-beats {
  width: 250px;
  margin-right: -50px;
}

.header {
  margin-bottom: 20px;
}

.contact-link {
  width: 75%;
}

.logo-link {
  padding-left: 15px;
  width: 50%;
}

.loading-page {
  height: 90vh;
}

.loading-text {
  font-size: 50px;
  color: white;
}

.about-link {
  width: 60%;
}

.cart-icon {
  filter: invert(100%) sepia(1%) saturate(7495%) hue-rotate(113deg) brightness(105%) contrast(102%);
  height: 50px;
  margin-left: 100px;
  cursor: pointer;
}

.cart-counter {
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
  border-radius: 15px;
  margin-left: -10px;
  margin-bottom: 50px;
  font-size: 20px;
  color: black;
  z-index: 1;
}

.beat {
  background-color: black;
  border-style:solid;
  border-color: #fff;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

.beat .beat-name{
  font-size: 40%;
  width: 150px;
  height: 50px;
  margin: 15px 0px 0px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.beat .beat-price {
  font-size: 40%;
  width: auto;
  height: 50px;
  margin: 10px 10px 0px 0px;
  align-self: flex-end;
}

.beat-description {
  max-width: 300px !important;
  max-height: 100px !important;
  font-size: 20px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.beat button {
  font-size: 15px;
  height: 50px;
  width: 100px;
  background: none;
  border: none;
  color: white;
}

.beat audio{
  margin: 20px;
  width: 90%;
}

.beat-section {
  flex-direction: column;
}

.beat-item {
  transition: transform 0.2s;
}

.beat-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal-cart {
  z-index: 3;
}
.modal-cart, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
  cursor: pointer;
}
.modal-content2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: black;
  color: #fff;
  padding: 14px 28px;
  border-radius: 3px;
  width: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.modal-content2 h2 {
  font-size: 50px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
}

.checkout-button {
  background-color: black;
  color: white;
  border: none;
  font-size: 30px;
  width: 80%;
  align-self: center;
  transition: transform 0.2s;
}

.checkout-button:hover {
  transform: scale(1.3);
  transition: transform 0.2s;
}

.checkmark {
  height: 30px;
  margin-right: 20px;
  filter: invert(100%) sepia(1%) saturate(7495%) hue-rotate(113deg) brightness(105%) contrast(102%);
}

.cart-beat {
  justify-content:space-between;
}

.cart-labels {
  justify-content:space-between;
  font-size: 25px;
  border-style: solid;
  border-top: none !important;
  border-left: none;
  border-right: none;
}

.cart-label {
  align-self: center;
}

.remove {
  margin-left: 20px;
  cursor: pointer;
}

.cart-total {
  justify-content:space-between;
  font-size: 25px;
  border-style: solid;
  border-bottom: none !important;
  border-left: none;
  border-right: none;
}

.success-message {
  color: white;
  font-size: 20px;
  word-spacing: 5px;
}

.success-section {
 width: 50%;
}

.cart-button {
  transition: transform 0.2s;
}
.cart-button:hover {
  transform: scale(1.3);
  transition: transform 0.2s;
}

@media screen and (max-width: 1300px) {
  .text {
    font-size: 80px;
  }
}

@media screen and (max-width: 960px) {
  .logo-section {
    flex-direction: column;
  }

  .text {
    font-size: 12vw;
    margin-bottom: -25px;
  }

  .logo {
    width: 65%;
    height: 65%;
  }

  .nav-menu {
    left: 200%;
    align-self: flex-start;
  }
  .contact-link {
    padding-left: 15px;
  }

  .godmode {
    width: 30%;
  }

  .about-link {
    width: 70%;
    padding: 20px;
  }

  .modal-content2 {
    width: 300px;
  }

  .success-section {
    width: 75%;
   }

   .cart-label {
    align-self: flex-start;
  }

  .cart-icon {
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .cart-counter {
    width: 25px;
    height: 25px;
    padding-top: 1px;
    margin-left: -10px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .header-link-beats {
    width: 250px;
    margin-right: 0px;
    margin-left: -10px;
  }

  .beats-header {
    margin-bottom: 50px;
  }
}
